.full-width {
  @include full-width;
}

.full-space {
  @include full-space;
}

.d-flex {
  @include dispay-flex;
}

.p-absolute {
  @include position-absolute;
}

.disabled {
  pointer-events: none;
  opacity: 0.45;
}

.paragraph-mock {
  background: #bcbec0;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 2px;
}

.ellipsis {
  @include ellipsis;
}

.overflow-hidden {
  overflow: hidden !important;
}

.hover-active-item {
  @include hover-active-item;
}

.card-shadow-1 {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 1px 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-shadow-2 {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.16), 1px 2px 5px rgba(0, 0, 0, 0.23);
}

.card-shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ui {
  &.red {
    color: #db2828;
  }
  &.orange {
    color: #f2711c;
  }
  &.yellow {
    color: #fbbd08;
  }
  &.olive {
    color: #b5cc18;
  }
  &.green {
    color: #21ba45;
  }
  &.teal {
    color: #00b5ad;
  }
  &.blue {
    color: #2185d0;
  }
  &.violet {
    color: #6435c9;
  }
  &.purple {
    color: #a333c8;
  }
  &.pink {
    color: #e03997;
  }
  &.brown {
    color: #a5673f;
  }
  &.grey {
    color: #767676;
  }
  &.black {
    color: #1b1c1d;
  }
}
