$login-form-width: 750px;

#login-screen {
  @include full-space;
  background-color: #737373;
  background-image: -webkit-linear-gradient(180deg, #737373 0%, #3f3f3f 100%);
  background-image: -moz-linear-gradient(180deg, #737373 0%, #3f3f3f 100%);
  background-image: -o-linear-gradient(180deg, #737373 0%, #3f3f3f 100%);
  background-image: linear-gradient(180deg, #737373 0%, #3f3f3f 100%);

  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {
    overflow: hidden;
    position: relative;
    width: $login-form-width;
    height: 330px;
    margin-top: 0;
    background: #ffffff;

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    .firebase-auth-forms-column {
      overflow: hidden;

      & > * {
        transition: top 0.45s ease-out, height 0.2s linear;
        overflow: hidden;
      }
      .back-to-signin {
        position: absolute;
        right: 14px;
        top: 0px;
        @include hover-active-item;
      }

      .firebase-auth-form-divider {
        position: absolute;
        width: 85%;
        height: 7%;
        border-width: 3px;
      }
      &.login {
        .firebase-singin-form {
          top: 0px;
          height: 288px;
        }
        .firebase-auth-form-divider {
          top: 450px;
        }
        .firebase-register-form {
          top: 230px;
          height: 0;
        }
      }
      &.register {
        .firebase-singin-form {
          top: -300px;
          height: 0;
        }
        .firebase-auth-form-divider {
          top: 77px;
        }
        .firebase-register-form {
          top: 10px;
          height: 288px;
        }
      }
    }

    .offline-section {
      box-shadow: none;
    }

    .divider {
      height: calc(50% - (2rem / 2));
    }
  }

  #developer-signature {
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    bottom: 4px;
    right: 8px;
  }
}

@media only screen and (max-width: $mobileBreakpoint) {
  #login-screen {
    .login-form {
      width: 0.65 * $login-form-width;
      height: 450px;
      padding: 0 3em;
      .offline-section {
        box-shadow: -1px 0 0 0 rgba(34, 36, 38, 0.15);
      }
      .offline-btn {
        margin-top: 1em;
      }
      .vertical-devider {
        display: none;
      }

      .message {
        text-indent: .7em;
      }
    }
  }
}
