$login-form-width: 750px;

#login-screen {
  @include full-space;
  background-color: #737373;
  background-image: -webkit-linear-gradient(180deg, #737373 0%, #3f3f3f 100%);
  background-image: -moz-linear-gradient(180deg, #737373 0%, #3f3f3f 100%);
  background-image: -o-linear-gradient(180deg, #737373 0%, #3f3f3f 100%);
  background-image: linear-gradient(180deg, #737373 0%, #3f3f3f 100%);

  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {
    position: relative;
    width: $login-form-width;
    height: 330px;
    margin-top: 0;
    background: #ffffff;

    .offline-section {
      box-shadow: none;
    }

    .divider {
      height: calc(50% - (2rem / 2));
    }
  }

  #developer-signature {
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    bottom: 4px;
    right: 8px;
  }
}

@media only screen and (max-width: 767px) {
  #login-screen {
    .login-form {
      width: 0.65 * $login-form-width;
      height: 450px;
      .firebase-login-form {
        padding-bottom: 2.5em;
      }
      .offline-section {
        box-shadow: -1px 0 0 0 rgba(34, 36, 38, 0.15);
      }
      .offline-btn {
        margin-top: 1em;
      }
      .vertical-devider {
        display: none;
      }
    }
  }
}
