@font-face {
  font-family: Muli;
  src: url("../font/Muli.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  @include full-space;
  position: relative;
}

#root {
  min-width: $page-min-width;
  @extend .ui.black;

  *:not(i) {
    font-family: Muli, "Segoe UI", BlinkMacSystemFont;
    //line-height: 1.2em;
  }

  .ui {
    font-family: Muli, "Segoe UI", BlinkMacSystemFont;
  }
}

.layout-container {
  @include full-space;
  display: flex;
  flex-direction: column;

  .not-exist-label {
    text-align: center;
    padding-top: 2em;
  }

  &__navigation-bar {
    flex: 0 0 65px;
    background: #3f3f3f;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.7em;
  }
  &__content {
    flex: 1;
    position: relative;
    background-color: #dcddde;
    //overflow-y: auto;
    display: flex;

    .page-wrapper {
      @include full-space;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      & > div {
        display: flex;
        align-items: center;
        position: relative;
      }

      .page {
        &-header {
          flex: 0 0 60px;
          padding: 0 1.75em 10px 4%;
        }
        &-content {
          flex: 1;
          overflow: auto;
          position: relative;
          padding: 0 1.75em 0 4%;
        }
        &-footer {
          flex: 0 0 70px;
          padding: 5px 1.75em 15px 4%;
        }
      }
    }
  }
}
