@mixin full-width {
  width: 100%;
}

@mixin full-space {
  width: 100%;
  height: 100%;
}

.full-space {
  @include full-space;
}

@mixin dispay-flex {
  display: flex;
}

@mixin position-absolute {
  position: absolute;
}
