.people-page {
  &__header {
    justify-content: space-between;
    flex-direction: row-reverse;
    & > .ui.menu {
      margin-top: 0;
      .item {
        .icon {
          transition: color 0.2s;
        }
        &.active {
          &.people-menu {
            .icon {
              @extend .ui.blue;
            }
          }
          &.favorites-menu {
            .icon {
              @extend .ui.red;
            }
          }
        }
      }
    }

    & > .header-toggle,
    & > .header-input {
      margin-top: 0.5em;
      padding: 0 6px;
    }

    .header-toggle .ui.slider label {
      line-height: 0.75em;
    }
  }

  &__content {
    overflow-x: auto !important;
    //padding-right: 1.75em;
    .heroes-cards__wrapper {
      @include full-space;
      position: relative;
      display: flex;
      overflow-y: auto;
      overflow-x: hidden;
      min-width: 472px;
      .hero-card {
        position: absolute;
        z-index: 3;
        background-color: #fff;
        padding: 0 0.5em 0 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend .card-shadow-1;
        border-radius: 2px;
        margin-left: 2px;
        cursor: pointer;

        transition: text-shadow 0.05s ease-in, top left 0.5s ease-in-out;

        &:hover {
          @extend .card-shadow-2;
          text-shadow: 0.5px 0.5px 1px $grey-colour;
        }
        &.active.list {
          margin-left: 7px;
        }

        &__header {
          flex: 0 0 35px;
          display: flex;
          flex-direction: row;
          max-height: 35px;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .hero-name {
            @include ellipsis;
            margin-bottom: 0;
            flex: 1 1 auto;
          }
          .favor-icon {
            cursor: pointer;
            align-items: center;
            display: flex;
            &:active {
              transform: scale(0.9);
            }

            &.pale-red {
              opacity: 0.5;
              @extend .ui.red;
            }
          }

          .observer-caret {
            position: absolute;
            right: -25px;
            margin-top: 1px;
          }
        }
      }
      .ui.segment.user-info {
        @extend .card-shadow-1;
        flex: 1;
        margin-top: 0;
        z-index: 2;
        margin-bottom: 5px;
        margin-right: 5px;
        max-height: 98%;
        overflow: auto;
      }
    }

    .hero-info {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      @include full-space;

      &__properties,
      &__home,
      &__films {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        overflow: hidden;

        .title {
          margin-bottom: 0.5em;
          width: 100%;
        }

        .property {
          @include ellipsis;
          overflow-y: visible;
          padding: 0.5em 2.1em 0.5em 0.7em;
          &-name {
            margin-bottom: 0.3em;
          }
          &-content {
            height: 1.2em;
            display: flex;
            text-indent: 4px;
            font-size: 20px;
          }
        }
      }

      .bottom-mask {
        height: 40px;
        width: 100%;
        bottom: 0px;
        position: absolute;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.73) 35%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  .layout-container__content {
    .people-page {
      &__header {
        flex: 0 0 120px !important;
        flex-wrap: wrap;

        .ui.menu {
          margin: 0.758em auto 0 0.5em !important;
        }
      }
    }
  }
}
